html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Pavanam", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-bar {
  width: 100%;
  background: #47baba;
  overflow: auto;
}

.nav-title {
  margin: 2rem 1rem;
  float: left;
}
  .nav-link {
    font-size: 1.2rem;
    margin: 1rem 1rem;
    overflow: auto;
  }

  .nav-group__item {
    float: right;
    margin: 1rem;
  }

.container {
  max-width: 65rem;
  margin: 0 auto;
}
